quickBootPort = "COM4";
quickBootBaudRate = 19200;
serialPort = "COM1";
serialBaudRate = 115200;
fromAddress = "XT Server <xtserver@reenigne.org>";
pipe = "\\\\.\\pipe\\xtserver";
lamePath = "C:\\Program Files\\LAME\\lame.exe";
lameOptions = "-r -s 44100 -m l";
adminAddress = "andrew@reenigne.org";
htdocsPath = "C:\\Program Files\\Apache Software Foundation\\Apache2.2\\htdocs";
captureFieldPath = "C:\\capture_field.exe";
