cgaRomFile = "/t/projects/emulation/pc/roms/5788005.u33";
inputPicture = "/t/colorful_rose_cropped.png";
outputNTSC = "/t/rose_hres_composite_50.ntsc";
outputComposite = "/t/rose_hres_composite_50.png";
outputDigital = "/t/rose_hres_composite_50_rgb.png";
outputData = "/t/rose_hres_composite_50.dat";
compositeTarget = true;
hres = true;
inputSize = Vector(57*8, 143);  // 57*143*2 = 16302 which is less than 16384 and 57*4/143 ~= 4/3
outputSize = Vector(672, 216);  // Size of output image in hdots*scanlines
offset = Vector(108, 36);     // Center it as best we can
overscanColour = 6;  // Standard dark yellow
iterations = 2;

// colourSpace can be srgb, rgb, xyz, luv or lab.
// However, perceptual colour spaces seem to produce inferior images for some reason, as well as being very slow.
colourSpace = srgb;
