cgaRomFile = "/t/projects/emulation/mamemess/mess_run/roms/pc/5788005.u33";
inputPicture = "/t/pictures/reenigne/colorful_rose_cropped.png";
outputNTSC = "/t/rose_lres_composite.ntsc";
outputComposite = "/t/rose_lres_composite.png";
outputRGB = "/t/rose_lres_composite_rgb.png";
outputData = "/t/rose_lres_composite.dat";
compositeTarget = true;
hres = false;
inputSize = Vector(80*8, 200);
inputOffset = Vector(0, 0);   // Center it as best we can
overscanColour = 6;  // Standard dark yellow
outputCompositeSize = Vector(640+8, 200+8);
iterations = 2;

// colourSpace can be srgb, rgb, xyz, luv or lab.
// However, perceptual colour spaces seem to produce inferior images for some reason, as well as being very slow.
colourSpace = srgb;
