roms = {
  // Mask   Address  Filename                                             File offset
  {0xf8000, 0xf8000, "tests/cga/cgatest.bin", 0x0000}};

cgarom = "../../external/8088/roms/5788005.u33";

stopAtCycle = 4772727;
stopSaveState = "saved.state";

//ramRowBits = 7;
//ramBytes = 0x10000;

//initialState = "saved.state";
