roms = {
  // Mask   Address  Filename                                     File offset
  {0xfe000, 0xf6000, "/t/projects/emulation/pc/roms/5000027.u19", 0x6000},
  {0xf8000, 0xf8000, "/t/projects/emulation/pc/roms/1501512.u18", 0x0000}};

//stopAtCycle = 271039;
//stopAtCycle = 1;
//stopSaveState = "saved.state";

initialState = "saved.state";
