inputPicture = arguments[1];
cgaROM = "5788005.u33";
//activeSize = Vector(768, 192);
activeSize.x = 768;
activeSize.y = 192;

mode = 0x09;
palette = 0x0F;
scanlinesPerRow = 2;
scanlinesRepeat = 1;
interlaceMode = 0;
interlaceSync = false;
interlacePhase = false;
flicker = false;
phase = 1;
characterSet = 1;
quality = 1.000000;
horizontalDiffusion = 0.648000;
verticalDiffusion = 0.352000;
temporalDiffusion = 0.000000;
gamma = 0.000000;
clipping = 1;
metric = 2;
connector = 1;
contrast = 100.000000;
brightness = 0.000000;
saturation = 100.000000;
hue = 0.000000;
chromaBandwidth = 1.000000;
lumaBandwidth = 1.000000;
rollOff = 0.000000;
lobes = 1.500000;
showClipping = false;
combFilter = 0;
aspectRatio = 0.833333;
scanlineWidth = 1.000000;
overscan = 0.100000;
scanlineProfile = 0;
horizontalProfile = 0;
prescalerProfile = 4;
lookAhead = 3;
advance = 2;
diffuseInternally = false;
combineScanlines = true;
scanlineBleeding = 2;
horizontalBleeding = 2;
zoom = 2.000000;
horizontalRollOff = 0.000000;
verticalRollOff = 0.000000;
horizontalLobes = 4.000000;
verticalLobes = 4.000000;
subPixelSeparation = 1.000000;
phosphor = 0;
mask = 0;
maskSize = 0.000000;
interactive = false;
fftWisdom = "wisdom";
