// Input file

inputNTSC = arguments[1];


// NTSC decoding options

contrast = 100;
brightness = 0;
saturation = 100;
hue = 0;
chromaBandwidth = 1;  // units of colour carrier frequency /8
lumaBandwidth = 1;  // units of colour carrier frequency
rollOff = 0;  // units of colour carrier frequency
showClipping = false;
// Comb filter settings:
//   0 = none
//   1 = 1 line
//   2 = 2 line
combFilter = 0;
lobes = 1.5;


// Scaling and scanline options

aspectRatio = 5/6;  // Pixel aspect ratio
scanlineWidth = 1;  // Width of a scanline in units of "zoom" pixels
overscan = 0.1; // Overscan to add on each edge, as fraction of active size

// Scaler profiles
//   0 = rectangle
//   1 = triangle
//   2 = circle
//   3 = gaussian
//   4 = sinc
//   5 = box (nearest neighbour)
scanlineProfile = 0;
horizontalProfile = 0;
// Scanline bleeding settings
//   0 = none (clipping only, inaccurate colour)
//   1 = down (fast)
//   2 = symmetrical (good)
scanlineBleeding = 2;
horizontalBleeding = 2;
zoom = 2;  // Output pixels per scanline vertically
horizontalRollOff = 0;
verticalRollOff = 0;
horizontalLobes = 4;
verticalLobes = 4;
subPixelSeparation = 1; // Positive for RGB, negative for BGR


// Phosphor/mask rendering is not yet implemented

// Phosphor colour settings
//   0 = colour
//   1 = green
//   2 = amber
//   3 = white
//   4 = blue
phosphor = 0;
// Mask settings
//   0 = shadow mask
//   1 = aperture grille
mask = 0;
maskSize = 0; // size of mask in scanlines


// Location of wisdom file for FFTW. This caches data which is used to speed up
// subsequent runs of the program. The data it contains may be sub-optimal for
// machines other than the machine it was created on, so it should not be
// copied to other machines.
fftWisdom = "wisdom";
